extends layout

block content
  #site-container
    #header-region
    |     
    #page-container
      
      |         
      #page-content.col-sm-12
  #dialog-region.modal
  script(type='text/javascript', src='/javascripts/production/admin-app.min.js')
