doctype html
html
  head
    title Newzfy
    |   
    script(type='text/javascript', src='/javascripts/vendor/vendor.min.js')
    | &#x9;
    link(rel='stylesheet', type='text/css', href='/stylesheets/adminstyles.min.css')
  body
    block content